[Desktop Entry]
Encoding=UTF-8
Name=Terminal
Comment=Start LXTerminal for command-line access
Exec=lxterminal
Icon=utilities-terminal-symbolic
Terminal=false
Type=Application
